# *Exercise: Array DataStructure*

1- Let us say your expense for every month are listed below, <br/>

January - 2200  <br/>
February - 2350  <br/>
March - 2600  <br/>
April - 2130  <br/>
May - 2190  <br/>

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [21]:
store = [
   2200,2350,2600,2130,2190
]

In [22]:
# 1
print(f"In Feb, I spent {store[1]-store[0]} more than in Jan")

In Feb, I spent 150 more than in Jan

In [23]:
# 2
print(f"My total expense in first quarter is {sum(store[:3])}")

My total expense in first quarter is 7150

In [26]:
#3
print(f"Did I spend 2000$ in any month? The Answer is: {'Yes' if 2000 in store else 'No'}")

Did I spend 2000$ in any month? The Answer is: No

In [27]:
#4
store.append(1980)
print(f"My monthly expense list is now: {store}")

My monthly expense list is now: [2200, 2350, 2600, 2130, 2190, 1980]

In [28]:
#5
store[3] = store[3] - 200
print(f"My monthly expense list is now: {store}")

My monthly expense list is now: [2200, 2350, 2600, 1930, 2190, 1980]