## Dictionary
* key:value (items)
    * key replacement of indexes
    * value item

In [1]:
from typing import Dict
data : Dict [str,str] = {
    "name" : "Muhammad Rafi",
    "fname":"Nadeem Akhter",
    0:"Pakistan"
}

data

{'name': 'Muhammad Rafi', 'fname': 'Nadeem Akhter', 0: 'Pakistan'}

In [2]:
print(data["name"])

Muhammad Rafi

In [3]:
print(data[0])

Pakistan

In [4]:
# SET
data_set : set = {7,4,23,3,3,3,2,4,3}
print(data_set) # unique and order

{2, 3, 4, 23, 7}

In [5]:
import pprint
data : Dict [str,str] = {
    "name" : "Muhammad Rafi",
    "fname":"Nadeem Akhter",
    0:"Pakistan",
    "dic":{
        "a":1,"b":2,
    }
}

pprint.pprint(data) # pprint for prettier

{0: 'Pakistan',
 'dic': {'a': 1, 'b': 2},
 'fname': 'Nadeem Akhter',
 'name': 'Muhammad Rafi'}

In [6]:
print(data["dic"])
print(data["dic"]["a"])

{'a': 1, 'b': 2}
1

In [7]:
dic : dict[str,str]={}

In [8]:
dic["name"]="Ali"
dic

{'name': 'Ali'}

In [9]:
dic["name"] = "M.ali"
dic

{'name': 'M.ali'}

In [10]:
print(dic.get("names","NA"))

NA

In [11]:
for d in data:
    print(d)

name
fname
0
dic

In [12]:
print(data.keys())
print(data.values())
print(data.items())

dict_keys(['name', 'fname', 0, 'dic'])
dict_values(['Muhammad Rafi', 'Nadeem Akhter', 'Pakistan', {'a': 1, 'b': 2}])
dict_items([('name', 'Muhammad Rafi'), ('fname', 'Nadeem Akhter'), (0, 'Pakistan'), ('dic', {'a': 1, 'b': 2})])

In [13]:
for d in data.keys():
    print(d)

name
fname
0
dic

In [14]:
for d in data.keys():
    print(data[d])

Muhammad Rafi
Nadeem Akhter
Pakistan
{'a': 1, 'b': 2}

In [15]:
for d in data.keys():
    print(d,data[d])

name Muhammad Rafi
fname Nadeem Akhter
0 Pakistan
dic {'a': 1, 'b': 2}

In [16]:
for k,l in data.items():
    print(k,l)

name Muhammad Rafi
fname Nadeem Akhter
0 Pakistan
dic {'a': 1, 'b': 2}

In [17]:
{k:l for k,l in data.items() }

{'name': 'Muhammad Rafi',
 'fname': 'Nadeem Akhter',
 0: 'Pakistan',
 'dic': {'a': 1, 'b': 2}}

In [18]:
a : int = 5
b : int = 3

a, b = b, a
print(a, b)

3 5

In [25]:
keys : list[str] = ["id","name"]

data_base : dict[str,str] = {}

database = data_base.fromkeys(keys)
database

{'id': None, 'name': None}

In [27]:
a : str = data.pop("name")

{'fname': 'Nadeem Akhter', 0: 'Pakistan', 'dic': {'a': 1, 'b': 2}}

In [29]:
a : str = data.popitem()
a

('dic', {'a': 1, 'b': 2})

In [30]:
d1 : Dict[str,str] = {
    'name': 'Muhammad Rafi',
 'fname': 'Nadeem Akhter',
 0: 'Pakistan',
 'dic': {'a': 1, 'b': 2}
}

In [33]:
data1 : Dict[str,str] = {
    'name': 'Muhammad Rafay',
 'fname': 'Nadeem Akhter',
 0: 'Pakistani',
 'dic': {'a': 10, 'b': 20},
 "age":22
}

In [35]:
d1.update(data1)
d1

{'name': 'Muhammad Rafay',
 'fname': 'Nadeem Akhter',
 0: 'Pakistani',
 'dic': {'a': 10, 'b': 20},
 'age': 22}

In [38]:
import pandas as pd
from typing import Any

student_name : Dict[str , list[Any]] = {
    "roll no" : [1,2,3],
    "Name" : ["Sir Zia","Sir Qasim","Hamzah Syed"],
    "age" :[25,24,23]
}

df : pd.DataFrame = pd.DataFrame(student_name)
df

   roll no         Name  age
0        1      Sir Zia   25
1        2    Sir Qasim   24
2        3  Hamzah Syed   23