In [4]:
# %pip install pandas numpy pandera nptyping

In [5]:

import pandas as pd
import pandera as pa
import numpy as np
from nptyping import NDArray, Shape, Int64

# DataFrame

* add new column
    * one column
    * two column
* delete column
* change data type of column
* map
* apply
    * on one column
    * more than one column
* concat

    * axis
        * axis = 0 (top to bottom)
        * axis = 1 (left to right)
* describe dataframe

        * df.info() # total index, columns names and data type, total fill cells
        * df.describe() # mean, std, min # statistical properties | apply only numeric columns
        * df.head() # first 5 rows
        * df.tail() # last 5 rows
* dataframe.sample() # select samples

In [6]:
total : int = 10000
s1 : NDArray[Shape[str(total)], Int64] = np.random.randint(80, 100, (total))
s1

array([96, 80, 88, ..., 84, 83, 87])

In [7]:
total : int = 10000
s1 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(80, 100, (total,5))
ss1 : pd.DataFrame = pd.DataFrame(s1,columns=['s1','s2','s3','s4','s5'])

s2 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(70, 79,(total,5))
ss2 : pd.DataFrame = pd.DataFrame(s2,columns=['s1','s2','s3','s4','s5'])

s3 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(60, 69, (total,5))
ss3 : pd.DataFrame = pd.DataFrame(s3,columns=['s1','s2','s3','s4','s5'])

s4 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(50, 59, (total,5))
ss4 : pd.DataFrame = pd.DataFrame(s4,columns=['s1','s2','s3','s4','s5'])

s5 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(40, 49, (total,5))
ss5 : pd.DataFrame = pd.DataFrame(s5,columns=['s1','s2','s3','s4','s5'])

s6 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(33, 39, (total,5))
ss6 : pd.DataFrame = pd.DataFrame(s6,columns=['s1','s2','s3','s4','s5'])

s7 : NDArray[Shape[str(total)+"5"], Int64] = np.random.randint(0, 32, (total,5))
ss7 : pd.DataFrame = pd.DataFrame(s7,columns=['s1','s2','s3','s4','s5'])


print(len(ss1))
print(len(ss2))
print(len(ss3))
print(len(ss4))
print(len(ss5))
print(len(ss6))
print(len(ss7))

10000
10000
10000
10000
10000
10000
10000

In [8]:
df : pd.DataFrame = pd.concat([ss1,ss2,ss3,ss4,ss5,ss6,ss7]).reset_index(drop=True)

display(df.info())
print("================================================================")
display(df.describe())
print("================================================================")
display(df.head())# .head(n=60)
display("================================================================")
display(df.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      70000 non-null  int32
 1   s2      70000 non-null  int32
 2   s3      70000 non-null  int32
 3   s4      70000 non-null  int32
 4   s5      70000 non-null  int32
dtypes: int32(5)
memory usage: 1.3 MB

None

================================================================

                 s1            s2            s3            s4            s5
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean      53.769271     53.789657     53.802914     53.793086     53.779514
std       23.419509     23.400552     23.394542     23.371987     23.430797
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       37.000000     37.000000     37.000000     37.000000     37.000000
50%       54.000000     54.000000     54.000000     54.000000     54.000000
75%       72.000000     72.000000     72.000000     72.000000     72.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

================================================================

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

'================================================================'

       s1  s2  s3  s4  s5
69995  31  27  12  28   1
69996   2   5   4  10   3
69997  15  29  28   7  17
69998  18  16   6   9  23
69999  12  26  25   7  29

In [9]:
df.to_csv("student.csv", index=False)

In [10]:
df1 : pd.DataFrame = pd.read_csv("./student.csv")
df1.head()

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

# Apply operations on columns
* Extract one column from DataFrame
    *  dataframe['column']
        *  add new column
        *  get column with space between columns text
    *  dataframe.column
        *  not add new column
        *  not get column with space between columns text
* Extract two or more columns from DataFrame
    * dataframe[['column1', 'column2']]
        * pass list into DataFrame

In [11]:

df.head()

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

In [12]:
df['s5']
# df['s5 physic']

0        85
1        86
2        90
3        85
4        83
         ..
69995     1
69996     3
69997    17
69998    23
69999    29
Name: s5, Length: 70000, dtype: int32

In [13]:
df.s5

0        85
1        86
2        90
3        85
4        83
         ..
69995     1
69996     3
69997    17
69998    23
69999    29
Name: s5, Length: 70000, dtype: int32

In [14]:
df[["s1","s5","s3","s1"]]

       s1  s5  s3  s1
0      88  85  82  88
1      85  86  90  85
2      97  90  82  97
3      92  85  91  92
4      90  83  97  90
...    ..  ..  ..  ..
69995  31   1  12  31
69996   2   3   4   2
69997  15  17  28  15
69998  18  23   6  18
69999  12  29  25  12

[70000 rows x 4 columns]

# Add new column
* Addition operation on column

In [15]:
df.head()

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

In [16]:
df['Total'] = 500 # add new column
df['Total'] = 300 # update column values
df['Total'] = 500 # add new column
del df['Total']

df

       s1  s2  s3  s4  s5
0      88  87  82  93  85
1      85  95  90  91  86
2      97  88  82  98  90
3      92  96  91  89  85
4      90  87  97  95  83
...    ..  ..  ..  ..  ..
69995  31  27  12  28   1
69996   2   5   4  10   3
69997  15  29  28   7  17
69998  18  16   6   9  23
69999  12  26  25   7  29

[70000 rows x 5 columns]

In [17]:
df.Total = 500 # not add new column
# df['Total'] = 500 # add new column
df.Total = 500 # update column values
# # df['Total'] = 500 # add new column
# del df.Total #  not remove old c

df

       s1  s2  s3  s4  s5
0      88  87  82  93  85
1      85  95  90  91  86
2      97  88  82  98  90
3      92  96  91  89  85
4      90  87  97  95  83
...    ..  ..  ..  ..  ..
69995  31  27  12  28   1
69996   2   5   4  10   3
69997  15  29  28   7  17
69998  18  16   6   9  23
69999  12  26  25   7  29

[70000 rows x 5 columns]

In [18]:
display(df.head())

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

In [19]:
print(89 + 89 + 86 + 86 + 92)
df['s1'] + df['s2'] + df['s3'] + df['s4'] + df['s5']

442

0        435
1        447
2        455
3        453
4        452
        ...
69995     99
69996     24
69997     96
69998     72
69999     99
Length: 70000, dtype: int32

In [21]:
df['obtained'] = df['s1'] + df['s2'] + df['s3'] + df['s4'] + df['s5']
df['percentage'] = df['obtained'] / df['Total'] * 100
df

KeyError: 'Total'

## apply custom function on columns(SeriesData)

In [23]:
def grade(per: int)->str:
    if per >= 80:
        return "A+"
    elif per >= 70:
        return "A"
    elif per >= 60:
        return "B"
    elif per >= 50:
        return "C"
    elif per >= 40:
        return "D"
    elif per >= 33:
        return "E"
    else:
        return "F"

grade(82)

'A+'

In [24]:
df.head()

   s1  s2  s3  s4  s5  obtained
0  88  87  82  93  85       435
1  85  95  90  91  86       447
2  97  88  82  98  90       455
3  92  96  91  89  85       453
4  90  87  97  95  83       452

In [25]:
df['percentage'].apply(grade)

KeyError: 'percentage'

In [26]:
df['Grade'] = df['percentage'].apply(grade)
df

KeyError: 'percentage'

## apply custom function on multiple columns and retunr on column or more than one
* loc
    * dataframe[rows,columns]
    * excact labels value
* iloc
    * dataframe[rows,columns]
    * numerical indexing value
* at
    * cell value with exact label

* iat
    * cell value with numerical index

In [27]:
df1.head()

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

In [28]:
df1[0:10] # direct sicling apply on  rows index
df1.iloc[1:11 , 1:3] # numpy sicling apply on columns and rows index
df1.loc[1:11,"s1":"s3"] # direct sicling apply on columns and rows labels
df1.at[4,"s1"]
df1.iat[4,0]

90

## Apply custom function on multiple columns and return one column

In [29]:
df1.head()

   s1  s2  s3  s4  s5
0  88  87  82  93  85
1  85  95  90  91  86
2  97  88  82  98  90
3  92  96  91  89  85
4  90  87  97  95  83

In [30]:
def fn_obtained(s1: int, s2: int, s3: int, s4: int, s5: int)->int:
    return s1 + s2 + s3 + s4 + s5


df1[["s1", "s2", "s3", "s4", "s5"]].apply(fn_obtained)

TypeError: fn_obtained() missing 4 required positional arguments: 's2', 's3', 's4', and 's5'

In [31]:
def fn_obtained(s1: int, s2: int, s3: int, s4: int, s5: int)->int:
    return s1 + s2 + s3 + s4 + s5


df1['obtained'] = df1[["s1", "s2", "s3", "s4", "s5"]].apply(lambda x:fn_obtained(*x), axis=1)
df1

       s1  s2  s3  s4  s5  obtained
0      88  87  82  93  85       435
1      85  95  90  91  86       447
2      97  88  82  98  90       455
3      92  96  91  89  85       453
4      90  87  97  95  83       452
...    ..  ..  ..  ..  ..       ...
69995  31  27  12  28   1        99
69996   2   5   4  10   3        24
69997  15  29  28   7  17        96
69998  18  16   6   9  23        72
69999  12  26  25   7  29        99

[70000 rows x 6 columns]

In [32]:
def fn_obtained(s1: int, s2: int, s3: int, s4: int, s5: int)->tuple[int, int,float, str]:
    total: int = 500
    obtained :int = s1 + s2 + s3 + s4 + s5
    per : float = obtained / total * 100
    grade : str = ""
    if per >= 80:
        grade =  "A+"
    elif per >= 70:
        grade = "A"
    elif per >= 60:
        grade = "B"
    elif per >= 50:
        grade = "C"
    elif per >= 40:
        grade = "D"
    elif per >= 33:
        grade = "E"
    else:
        grade = "F"
    return total, obtained, per, grade


df1[["Total",'obtained', 'percentage', "Grade"]] = df1[["s1", "s2", "s3", "s4", "s5"]].apply(lambda x:fn_obtained(*x), 
                                                                                             axis=1,
                                                                                             result_type='expand')
df1

       s1  s2  s3  s4  s5  obtained  Total  percentage Grade
0      88  87  82  93  85       435    500        87.0    A+
1      85  95  90  91  86       447    500        89.4    A+
2      97  88  82  98  90       455    500        91.0    A+
3      92  96  91  89  85       453    500        90.6    A+
4      90  87  97  95  83       452    500        90.4    A+
...    ..  ..  ..  ..  ..       ...    ...         ...   ...
69995  31  27  12  28   1        99    500        19.8     F
69996   2   5   4  10   3        24    500         4.8     F
69997  15  29  28   7  17        96    500        19.2     F
69998  18  16   6   9  23        72    500        14.4     F
69999  12  26  25   7  29        99    500        19.8     F

[70000 rows x 9 columns]

## Map function for remaks

In [33]:
from typing import Dict


remark : Dict[str,str] = {
    "A+" : "Excellent",
    "A" : "Very Good",
    "B" : "Good",
    "C" : "Fair",
    "D" : "Poor",
    "E" : "Very Poor",
    "F": "Fail"
}

df1['Remark'] = df1.Grade.map(remark)
df1

       s1  s2  s3  s4  s5  obtained  Total  percentage Grade     Remark
0      88  87  82  93  85       435    500        87.0    A+  Excellent
1      85  95  90  91  86       447    500        89.4    A+  Excellent
2      97  88  82  98  90       455    500        91.0    A+  Excellent
3      92  96  91  89  85       453    500        90.6    A+  Excellent
4      90  87  97  95  83       452    500        90.4    A+  Excellent
...    ..  ..  ..  ..  ..       ...    ...         ...   ...        ...
69995  31  27  12  28   1        99    500        19.8     F       Fail
69996   2   5   4  10   3        24    500         4.8     F       Fail
69997  15  29  28   7  17        96    500        19.2     F       Fail
69998  18  16   6   9  23        72    500        14.4     F       Fail
69999  12  26  25   7  29        99    500        19.8     F       Fail

[70000 rows x 10 columns]

## Type casting on column names
* astype
* apply
    * datatype name (str, int,list)
    * function name (cell_value): transformation in function body

In [34]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int64
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int64(7), object(2)
memory usage: 5.3+ MB

In [35]:
df1['s1'] = df1['s1'].astype(np.int32)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int32
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int32(1), int64(6), object(2)
memory usage: 5.1+ MB

In [36]:
df1['s2'] = df1['s2'].apply(np.int64)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int32
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int32(1), int64(6), object(2)
memory usage: 5.1+ MB