List iteration & Tuples & for loops
 list 
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ["Umer","Abu Bakr","ALi","Usman"]

print(names)

['Umer', 'Abu Bakr', 'ALi', 'Usman']

In [2]:
for name in names:
    print(name)

Umer
Abu Bakr
ALi
Usman

In [5]:
for name in names:
    print(f'Welcome Dear {name.title()}')

Welcome Dear Umer
Welcome Dear Abu Bakr
Welcome Dear Ali
Welcome Dear Usman

In [8]:
for name in names:
    print(f'Welcome Dear {name.title()}')
    print("____________________\n")
print("out of block")

Welcome Dear Umer
____________________

Welcome Dear Abu Bakr
____________________

Welcome Dear Ali
____________________

Welcome Dear Usman
____________________

out of block

In [9]:
for name in names[:2]:
    print(f'Welcome Dear {name.title()}')

Welcome Dear Umer
Welcome Dear Abu Bakr

In [10]:
for name in names[::-1]:
    print(f'Welcome Dear {name.title()}')

Welcome Dear Usman
Welcome Dear Ali
Welcome Dear Abu Bakr
Welcome Dear Umer

In [12]:

data_base : list[tuple[str,str]] = [("Rafi","123"),("Ali","786")]

In [14]:
for row in data_base:
    print(row)

('Rafi', '123')
('Ali', '786')

In [15]:
for row in data_base:
    user, password = row
    print(user, password)

Rafi 123
Ali 786

In [21]:
input_user : str = input("Enter User Name")
input_password : str = input("Enter Password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break    
else:
    print("Not found or Invalid user name")

Not found or Invalid user name

In [22]:
for name in names:
    print(f'Welcome Dear {name.title()}')

print(f"Assalamualikum {name}")    #only last value acess globally

Welcome Dear Umer
Welcome Dear Abu Bakr
Welcome Dear Ali
Welcome Dear Usman
Assalamualikum Usman

Numbers With Loop
* range(start, en, step)

In [23]:
range(10)

range(0, 10)

In [24]:
list(range(10)) # start = 0 , ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [31]:
names : list[str] = ["Umer","Abu Bakr","ALi","Usman"]

list(enumerate(names))

[(0, 'Umer'), (1, 'Abu Bakr'), (2, 'ALi'), (3, 'Usman')]

In [32]:
for index, name in enumerate(names):
    print(index,name)

0 Umer
1 Abu Bakr
2 ALi
3 Usman

In [35]:
for index, name in enumerate(range(2,21,2)):
    print(f"2 * {index+1} = {name}")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [36]:
for n in range(1,11):
    print(f"2 X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [39]:
squares : list[int] = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
```
for item ins_list:
    loop_body
```    
### Comprehensive style

```
[loop_body for item in items_list]
```

In [40]:
[i ** 2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
num : list[str] = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
print(max(num))
print(min(num))
print(sum(num))

100
1
385

In [53]:
num : list[int] = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
friend = num[:]
print(num)
print(friend)

friend[0] = 4556

print(num)
print(friend)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4556, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tuples

In [54]:
names : tuple[str] = ('A','B','C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [55]:
from typing import Any

data : tuple[Any] = ("A",[1,2,3],True)

data

('A', [1, 2, 3], True)

In [57]:
data[1].append(20)
data

('A', [1, 2, 3, 20, 20], True)