In [3]:
a : int = 6
b : int = 8

print(a + b)
print(a - b)
print(a / b)
print(a * b)

14
-2
0.75
48

In [4]:
print(a % b)

6

In [5]:
#exponential
print(2 ** 3)

8

In [6]:
#normal division
print(14 / 3)

4.666666666666667

In [7]:
#float division

print(14 // 3)

4

In [12]:
print(a , b)
print(a == b)
print(a == b)
print(2 == 2)
print(2 == "2")

6 8
False
False
True
False

In [13]:
# !=

print(a , b)
print(a != b)

6 8
True

In [15]:
# < , >
print(a , b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

6 8
False
True
False
True

In [18]:
#ASCII Code
Z = 90

a = 97
z = 122

print("a" < "z")

True

Python Logical Operators

In [23]:
True and True #true
True and False #False
True or False #true
False or False #False
True #true
not True #false

False

In [24]:
x = 5

print(x > 3 and x < 10)

True

In [25]:
x = 5

print(x > 3 or x < 4)

True

In [26]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

Python Identity Operators

In [42]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(id(x)) #is operator check memory location
print(id(y))

print(x is z)
print(x is y)
print(x == y)

2668440964672
2668440942080
True
False
True

In [41]:
print(x is not z)
print(x is y)
print(x != y)

True
False
False

Python Membership Operators

In [32]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [33]:
x = ["apple", "banana"]

print("pineapple" not in x)

True

In [34]:
names : list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [37]:
for i in  range(len(names)):
    print(i,names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [40]:
"D" in names

True

take user input

In [47]:
names: list[str] = ["Rafi", "Ali"]
name : str = input("Enter Your Name")
name in names

True

In [50]:
print(3 + 2 -2 * 4 /2 + 2)

3.0

In [52]:
#unzip
a , b  , c  = "a", 7 , 3.0

print(a)
print(b)
print(c)

a
7
3.0

In [53]:
data = ("rafi", 5 , 8.0)
print(data[0],data[1],data[1])

rafi 5 5

In [54]:
data = ("rafi", 5 , 8.0)
print(*data)

rafi 5 8.0

In [55]:

"a" * 3

'aaa'